# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
.venv/

# Django
db.sqlite3
staticfiles/
media/
.env
logs/
dump.rdb
celerybeat-schedule

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Python environment
venv/
.env/
